#export XDG_SESSION_TYPE=x11
#export GDK_BACKEND=x11
#exec dbus-launch gnome-session
#xrdb ~/.Xresources-xrdp
#exec gnome-session

#x0vncserver -rfbauth ~/.vnc/passwd &

# LamT: start using xinitrc.desktop
if [[ ! $DISPLAY && $XDG_VTNR -eq 1 ]]; then
  #exec startx ~/.xinitrc dwm
  exec startx ~/.xinitrc i3
fi
